flow3
[{"id":"aed487a3.512b78","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"c106d538.3ef928","type":"inject","z":"aed487a3.512b78","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["bb9ec701.446138"]]},{"id":"bb9ec701.446138","type":"function","z":"aed487a3.512b78","name":"Payload","func":"msg.headers={\n    deviceKey:\"qy2p0f1zjQh7w0sG\"\n    };\n\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["7bedfe1.f8412"]]},{"id":"7bedfe1.f8412","type":"http request","z":"aed487a3.512b78","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/D67fJsC9/datapoints.csv","tls":"","x":160,"y":140,"wires":[["5d7e9fb0.a2816","ffe472a3.001b9"]]},{"id":"5d7e9fb0.a2816","type":"debug","z":"aed487a3.512b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":240,"wires":[]},{"id":"ffe472a3.001b9","type":"http response","z":"aed487a3.512b78","name":"","statusCode":"","headers":{},"x":390,"y":140,"wires":[]}]