flow4
[{"id":"1a04bc86.34cdb3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfe4d3cc.6fc69","type":"http in","z":"1a04bc86.34cdb3","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["ef157818.de0468"]]},{"id":"8082870b.dbfd28","type":"rpi-gpio in","z":"1a04bc86.34cdb3","name":"GPIO4","pin":"7","intype":"down","debounce":"25","read":true,"x":100,"y":160,"wires":[["2d49105d.8ad04"]]},{"id":"2d49105d.8ad04","type":"function","z":"1a04bc86.34cdb3","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["f8e81283.80504"]]},{"id":"ef157818.de0468","type":"function","z":"1a04bc86.34cdb3","name":"Get GPUO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["8355a2b.b05946","f8e81283.80504"]]},{"id":"8355a2b.b05946","type":"http response","z":"1a04bc86.34cdb3","name":"","statusCode":"","headers":{},"x":430,"y":80,"wires":[]},{"id":"f8e81283.80504","type":"debug","z":"1a04bc86.34cdb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":200,"wires":[]}]