flow3 read
[{"id":"304ece2a.cfb132","type":"tab","label":"Temperature read","disabled":false,"info":""},{"id":"c8f7f8aa.370808","type":"inject","z":"304ece2a.cfb132","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["73269201.8cd96c"]]},{"id":"73269201.8cd96c","type":"function","z":"304ece2a.cfb132","name":"Payload","func":"msg.headers={\n    deviceKey:\"qy2p0f1zjQh7w0sG\"\n    };\n\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["760e48d0.89f1b8"]]},{"id":"760e48d0.89f1b8","type":"http request","z":"304ece2a.cfb132","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D67fJsC9/datachannels/Temperature/datapoints.csv","tls":"","x":130,"y":120,"wires":[["febbc6ed.014438","a57ebd39.5a814"]]},{"id":"febbc6ed.014438","type":"debug","z":"304ece2a.cfb132","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":200,"wires":[]},{"id":"a57ebd39.5a814","type":"http response","z":"304ece2a.cfb132","name":"","statusCode":"","headers":{},"x":310,"y":120,"wires":[]}]