flow1
[{"id":"206e339f.df91cc","type":"tab","label":"LED","disabled":false,"info":""},{"id":"45b112d7.ba4eec","type":"rpi-gpio out","z":"206e339f.df91cc","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":410,"y":280,"wires":[]},{"id":"be74bc15.418b4","type":"inject","z":"206e339f.df91cc","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":260,"wires":[["45b112d7.ba4eec"]]},{"id":"b62e1685.49d1e8","type":"inject","z":"206e339f.df91cc","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["45b112d7.ba4eec"]]}]