flow2
[{"id":"f7ae6304.0851a","type":"tab","label":"Button LED","disabled":false,"info":""},{"id":"c99c8ad4.366378","type":"rpi-gpio out","z":"f7ae6304.0851a","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":320,"y":260,"wires":[]},{"id":"ffca7af1.003588","type":"rpi-gpio in","z":"f7ae6304.0851a","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":260,"wires":[["466ac123.b9954"]]},{"id":"466ac123.b9954","type":"switch","z":"f7ae6304.0851a","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":360,"wires":[["caac716.f35539"],["61075f3d.9ef8a"]]},{"id":"caac716.f35539","type":"change","z":"f7ae6304.0851a","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["c99c8ad4.366378"]]},{"id":"61075f3d.9ef8a","type":"change","z":"f7ae6304.0851a","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["c99c8ad4.366378"]]}]