setLED
[{"id":"50f2f7ec.831918","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e6170bc6.51ec58","type":"http in","z":"50f2f7ec.831918","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":80,"wires":[["3f3eef50.361cf","8c65819b.09a14"]]},{"id":"3f3eef50.361cf","type":"function","z":"50f2f7ec.831918","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["313c7dee.77bdd2"]]},{"id":"313c7dee.77bdd2","type":"rpi-gpio out","z":"50f2f7ec.831918","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":380,"y":320,"wires":[]},{"id":"8c65819b.09a14","type":"function","z":"50f2f7ec.831918","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["dae54a70.acee78","dc85fbb8.dd9808"]]},{"id":"dae54a70.acee78","type":"http response","z":"50f2f7ec.831918","name":"","statusCode":"","headers":{},"x":400,"y":180,"wires":[]},{"id":"dc85fbb8.dd9808","type":"debug","z":"50f2f7ec.831918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":260,"wires":[]},{"id":"2d86bfd3.f2af9","type":"http in","z":"50f2f7ec.831918","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":360,"wires":[["2ff3a3b6.c7739c","9d1adb95.b418d8"]]},{"id":"2ff3a3b6.c7739c","type":"function","z":"50f2f7ec.831918","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":420,"wires":[["313c7dee.77bdd2"]]},{"id":"9d1adb95.b418d8","type":"function","z":"50f2f7ec.831918","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":480,"wires":[["dae54a70.acee78","dc85fbb8.dd9808"]]}]